<%- include('partials/header.ejs');%>

<form method="get">
    <label for="submit">Login:</label>
    <input type="submit" formaction="/login">
    <label for="submit">Get Auth Token:</label>
    <input type="submit" formaction="/token">
</form>

<%- include('partials/footer.ejs');%>